@page
@model Hcb.Insights.Pages.AboutUsModel
@{
    ViewData["Title"] = "Home Care Bees - About Us";
    ViewData["MetaDescription"] = "Who is Home Care Bees? &nbsp;How can they help?";
}

<!DOCTYPE html>

<div class="text-left">
    <h1 class="display-4" style="text-align:center">About Home Care Bees</h1>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Quality of Home Care</h2>
            <p>As seniors age, it’s a natural part of the process to think about home care. &nbsp;Whether you have aging parents, or you need care for yourself or you have a disabled relative that does not have the cognitive or mental capabilities to manage their own affairs, it can be a stressful time for everyone involved, but it doesn’t have to be. With an in-home care provider like Home Care Bees, you won’t have to worry about the quality of care you, or your loved ones, receive — it’s always top notch.</p>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Aging-in-Place Benefits</h2>
            <p>In-home care is hugely beneficial to senior life — it doesn’t require stressful moves and allows them to remain where they feel most comfortable. &nbsp;They won’t have to get used to any new routines or meet new people; they can simply remain in their own home.</p>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Caregiver Selection</h2>
            <p>When you opt for the in-home care living arrangement, and engage with a home care provider, it is important that the home care provider scrutinizes caregivers before hiring them. &nbsp;Our caregivers are pre-screened and have clean drivers’ licenses – we strive to provide safe transportation. &nbsp;Not only that, but everyone on our staff has gone through background checks to ensure that they’re fit to have people under their care.</p>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Caregiving Contract</h2>
            <p>Our home care services are available also to people of all ages, and the frequency of visits can depend on the need, be that daily, weekly, monthly, or even hourly up to 24-hours a day including perhaps live-in caregivers.  Please see the Home Care Bees home page for more information regarding the home care caregiving services we provide.</p>
            <p>
                Something that makes for a stressful in-home care provider search, is the binding contracts that come with many in-home care providers. &nbsp;With Home Care Bees, we offer both short term and long-term contracts, and you always have the option to cancel.
            </p>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Types of Care</h2>
            <p>We know it can be difficult to turn your loved ones, or yourself, over to an in-home care provider. But with us, you’ll be taken care of.</p>
            <p>In summary Home Care Bees provide the following in-home care services for our clients:</p>
            <ul>
                <li>Nutrition</li>
                <li>Grooming</li>
                <li>Conversation and Companionship</li>
                <li>Laundry Services</li>
                <li>and more...</li>
            </ul>
            <p>Our services include testing the smoke detectors at the start of a contract and after that on a regular basis.</p>
            <p>Please see our <a asp-page="Index">home page</a> that discusses in detail the caregiver services Home Care Bees provides.</p>
        </div>
    </div>
    <br />
    <div id="RelatedServices" class="_hcbBookmark"></div>
    <div class="card">
        <div class="card-body">
            <h2>In-Home Care Related Services</h2>
            <p>The <a asp-page="Journey">Manage the Aging Journey</a> page talks about:</p>
            <ul>
                <li>Home modifications to make the house safer for your loved one.</li>
                <li>On top of that the home also requires maintenance.</li>
                <li>A very challenging part of the aging journey, namely the legalities concerned with medical and financial matters.</li>
            </ul>
            <p>Home Care Bees understands that there is more to Aging in Place than just providing in-home care services. &nbsp;In an effort for our clients to enjoy volume negotiated pricing and receive desired results, Home Care Bees established relationships (and continue to expand our network) with various service providers, contractors and professionals. &nbsp;We built relationships up with service providers to relieve your loved one or yourself of the added stress that comes with managing these matters.</p>
            <p>Here are some examples of home maintenance service establishment types we already work with:</p>
            <ul>
                <li>Pest control</li>
                <li>Pool service</li>
                <li>Handyman service</li>
                <li>House painters</li>
                <li>Carpet cleaning</li>
                <li>A/C work</li>
                <li>Landscaping</li>
                <li>Palm tree trimming</li>
            </ul>
            <p>The following are additional service providers types we work with:</p>
            <ul>
                <li>Mobile hair dresser and barber</li>
                <li>Yoga trainer</li>
                <li>Personal trainer</li>
                <li>Lawyers</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Available Research</h2>
            <p>The services Home Care Bees provides, goes even further to include pointing our clients at research done on the following device types:</p>
            <ul>
                <li>
                    Monitoring devices
                    <ul>
                        <li>Blood pressure</li>
                        <li>Heart-rate</li>
                        <li>Blood glucose</li>
                        <li>Baby monitors</li>
                        <li>Fall detection</li>
                        <li>GPS tracking</li>
                    </ul>
                </li>
                <li>Hearing aids</li>
                <li>Video door bells</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Summary</h2>
            <p>These services just scratch the surface of what we offer at Home Care Bees. &nbsp;<a asp-page="ContactUs">Contact us</a> today to learn more about how we can help keep you or your loved one comfortable as they age.</p>
        </div>
    </div>
</div>
