@page
@model Insights.Pages.CareersModel
@{
    ViewData["Title"] = "Home Care Bees - Careers";
    ViewData["HomeMetaData"] = "Experience the satisfaction of being a caregiver.";
}

    <div class="text-left">
        <h1 class="display-4" style="text-align:center">Careers at Home Care Bees</h1>
        <br />
    </div>