@page
@model Hcb.Insights.Pages.CareersModel
@{
    ViewData["Title"] = "Home Care Bees - Careers";
    ViewData["MetaDescription"] = "Experience the satisfaction of being a caregiver.";
}

    <div class="text-left">
        <h1 class="display-4" style="text-align:center">Careers at Home Care Bees</h1>
        <br />
        <p>We are currently hiring Caregivers.&nbsp;&nbsp;To apply for a caregiver position, please fill the form in <a href="//www.homecarebees.com/apply">here</a>.</p>
    </div>