@page
@model Insights.Pages.ContactUsModel
@{
    ViewData["Title"] = "Home Care Bees - Contact Us";
    ViewData["HomeMetaData"] = "Contact Home Care Bees";
}

<div class="text-left">
    <h1 class="display-4" style="text-align:center">Home Care Bees - Contact Us</h1>
    <br />
</div>