@page
@model Hcb.Insights.Pages.IndexModel
@{
    ViewData["Title"] = "Home Care Bees - unBEElievable in-home care by loving caregivers";
    ViewData["MetaDescription"] = "Modern home care starts with us, step-by-step, hand-in-hand navigating elderly care. Accomodating older adult's preference to stay in their own homes.";
}

    <div class="text-left _hcbHomePage">
        <h1 class="display-4" style="text-align:center">Welcome to Home Care Bees</h1>
        <br />
        <h2>About Caregiving</h2>
        <p>It is quite a privilege to be able to take care of someone else, particularly another senior. &nbsp;As their primary caregiver, you are responsible for maintaining their quality of life and ensuring their golden years are the best they can be. &nbsp;It can be very fulfilling and rewarding. &nbsp;It is an opportunity to give back to someone that has, in turn, cared for others.</p>
        <h2>Caregiver Pool</h2>
        <p>Families used to be the first line of support to care for a loved one. &nbsp;But now with less children, the pool of caregivers is smaller, women often work full time and time to devote to caregiving is really tight. &nbsp;Plus, we all are very mobile today. &nbsp;We do not necessarily live close to each other. &nbsp;We could even be out of country. &nbsp;Most people cannot stop their lives to be there 24/7 with their relatives.</p>
        <p>Families turn to home care agencies such as Home Care Bees to step in for them.</p>
        <h2>Overview of Our Home Care Services</h2>
        <p>Home Care Bees mostly provides caregiver services for older adults, but we also provide home care to:</p>
        <ul>
            <li>Severely disabled persons.</li>
            <li>Persons that do not have the cognitive or mental capabilities to manage their own affairs anymore.</li>
            <li>Children incapable of functioning on their own.</li>
        </ul>
        <p>In other words, we provide caregiving services to persons in any age group. &nbsp;This can also be in-hospital care or in-home care while recovering.</p>
        <p>In summary, Home Care Bees’ caregiver services include:</p>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a class="fas fa-user-friends" href="#Companionship"><br /><br />Companionship</a>
                </div>
                <div class="col-sm">
                    <a class="fas fa-car" href="#Transportation"><br /><br />Transportation</a>
                </div>
                <div class="col-sm">
                    <a class="fas fa-hand-holding-heart" href="#PersonalCare"><br /><br />Personal Care</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a class="fas fa-people-carry" href="#RespiteCare"><br /><br />Respite Care</a>
                </div>
                <div class="col-sm">
                    <a class="fas fa-utensils" href="#MealPreparation"><br /><br />Meal Preparation</a>
                </div>
                <div class="col-sm">
                    <a class="fas fa-broom" href="#LightHouseKeeping"><br /><br />Light House Keeping</a>
                </div>
            </div>
        </div>
        <br />
        <p>Please also refer to the <a href="/AboutUs#RelatedServices">In-Home Care Related Services section in the About Us</a> page for crucial home care related services, besides caregiving, that Home Care Bees provide.</p>
        <div id="Companionship" class="_hcbBookmark"></div>
        <div class="card">
            <div class="card-body">
                <div>
                    <h2 class="card-title"><span class="fas fa-user-friends"></span> Companionship</h2>
                    <p class="card-text">Home Care Bees cannot overstress the importance of companionship for an older adult.</p>
                    <p class="card-text">Everybody needs to feel connected. &nbsp;Touches, hugs, smiles, hand holding, laughter, companionship and stories. &nbsp;We all need that.</p>
                    <p class="card-text">It is important for the in-home caregiver to become a close companion to your loved one and help bring happiness to their lives. &nbsp;Such a positive environment helps the elderly feel more relaxed.</p>
                    <p class="card-text">Meal time provides a great opportunity for socialization. &nbsp;This is where The Home Care Bees caregivers get an excellent opportunity to provide friendly company, conversation and mealtime companionship. &nbsp;We make an extra effort to turn meals into enjoyable social time by engaging our clients in conversation over food.</p>
                    <p class="card-text">What you need to talk about, are things that spark joy. &nbsp;“How are you?”, “Have you had your bowel movement today yet?”, are just not good conversation openers. &nbsp;“What went well in your day?”, “What did you do today that is unique, fun of funny?” gets them engaged. &nbsp;Focus on the positive first.</p>
                    <p class="card-text">It is important for the elderly to share their life stories with a listening ear. &nbsp;Even if this is the same story of the day before.</p>
                    <p class="card-text">Seniors with steady and consistent companions have a lower tendency to develop depression and general cognitive decline.</p>
                </div>
            </div>
        </div>
        <br />
        <div id="Transportation" class="_hcbBookmark"></div>
        <div class="card">
            <div class="card-body">
                <div>
                    <h2 class="card-title"><span class="fas fa-car"></span> Transportation and Errands</h2>
                    <p class="card-text">Everyone needs to get out of the house at times. &nbsp;This benefits the seniors’ mind, body and spirit and gives the elderly a greater feeling of independence and improves their mood. &nbsp;For adults unable to drive themselves, the Home Care Bees caregivers can take care of this problem. &nbsp;Your loved ones are encouraged to join the caregiver on these trips.</p>
                    <p class="card-text">The caregiver provides safe transportation to:</p>
                    <ul class="card-text">
                        <li>Church</li>
                        <li>Social events</li>
                        <li>Doctor’s appointments</li>
                        <li>Pharmacy pick ups</li>
                        <li>Stop at the post office or bank</li>
                        <li>Hair appointments</li>
                        <li>Vet appointments for your loved one’s pets</li>
                        <li>Just about anywhere they need to go (well, there must be practical limits of course 😊)</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div id="PersonalCare" class="_hcbBookmark"></div>
        <div class="card">
            <div class="card-body">
                <div>
                    <h2 class="card-title"><span class="fas fa-hand-holding-heart"></span> Personal Care</h2>
                    <h3 class="card-subtitle">Grooming and Hygiene</h3>
                    <p class="card-text">Being clean and groomed has a significant positive impact on seniors. &nbsp;Some seniors fear falling while bathing, others may have physical or cognitive limitations making it difficult for them to attend to themselves. &nbsp;Home Care Bees’ caregivers assist our clients with their personal care routines so they can look and feel their best.</p>
                    <h3 class="card-subtitle">Mobility Assistance, Transferring and Positioning</h3>
                    <p class="card-text">One of the best ways to maintain the quality of life, is to remain active while you age. Our caregivers accomplish this by helping them move from place to place, in comfort and safety.</p>
                    <p class="card-text">There are several reasons why proper transferring and positioning is important to those in their golden years.  &nbsp;We help the elderly move around in their homes which may include getting in and out of bed, chairs, and wheelchairs.  &nbsp;This contributes to:</p>
                    <ul class="card-text">
                        <li>Reducing bedsore risks.</li>
                        <li>Keeping our clients as comfortable as possible.</li>
                        <li>Reducing the pace of muscle weakening.</li>
                        <li>Encouraging proper breathing and digestion.</li>
                        <li>Lowering the risk of falls and injuries.</li>
                    </ul>
                    <h3 class="card-subtitle">Toileting and Incontinence Care</h3>
                    <p class="card-text">Without proper assistance with regards to toileting, seniors can face issues such as:</p>
                    <ul class="card-text">
                        <li>Skin infections</li>
                        <li>Unpleasant odors</li>
                        <li>General hygiene related problems</li>
                    </ul>
                    <p class="card-text">Toileting and lack of voluntary control over urination and defecation are very sensitive matters.  &nbsp;Of course, Home Care Bees provide compassionate assistance with these personal aspects of daily living, resulting in the elderly not losing their dignity.</p>
                    <h3 class="card-subtitle">Nutrition</h3>
                    <p class="card-text">A healthy, nutritious diet is vital to any person’s health and that goes for the elderly too. &nbsp;Our caregivers can help with adhering to prescribed diets where appropriate. &nbsp;They also help their clients eat nutritious menus.</p>
                    <p class="card-text">Not just does mealtime provide an opportunity for companionship, but supervision also makes certain your loved ones get proper nourishment.</p>
                    <h3 class="card-subtitle">Reminders</h3>
                    <p class="card-text">In the cases where Home Care Bees provide, what is known as Personal Care services (as opposed to Home Health Care services), our caregivers do not dispense medication. &nbsp;However, they are still able to assist the elderly with:</p>
                    <ul class="card-text">
                        <li>Reminders</li>
                        <li>Opening containers</li>
                        <li>Reading the labels</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div id="RespiteCare" class="_hcbBookmark"></div>
        <div class="card">
            <div class="card-body">
                <div>
                    <h2 class="card-title"><span class="fas fa-people-carry"></span> Respite Care</h2>
                    <p class="card-text">Your journey as caregiver for your loved one could have started with a call from a relative, sibling or neighbor, “Mom has taken a fall…”. &nbsp;Or it could be more of a subtle start where you started to see memory loss stepping in, forgetting things and so on. &nbsp;No matter how it starts, people are usually somewhat unprepared for it.</p>
                    <p class="card-text">Talk to anyone who cares for an aging loved one. You will likely hear that it's more complicated and difficult than they imagined. &nbsp;The challenges are great, whether it is full-time or part time or even just as a support person:</p>
                    <ul class="card-text">
                        <li>It taxes us emotionally, physically and our energy.</li>
                        <li>Puts strains on relationships.</li>
                        <li>Creates fear for staying on track with your career because you might be absent more frequently.</li>
                        <li>Impacts your own health and finances.</li>
                    </ul>
                    <p class="card-text">Understandably you can get overwhelmed with the situation and its responsibilities. &nbsp;Look for signs of being overwhelmed:</p>
                    <ul class="card-text">
                        <li>Quick tempered.</li>
                        <li>Fits of rage.</li>
                        <li>Sudden weeping.</li>
                        <li>Quick to irritate.</li>
                        <li>Blaming others.</li>
                        <li>And sometimes taking it out on the one you are caring for.</li>
                    </ul>
                    <p class="card-text">Everybody needs a break from time-to-time. &nbsp;Home Care Bees provides families and caregivers relief from their responsibilities as caregivers. &nbsp;We provide an opportunity for the caregiver to get the rest they need to so that they can recharge.</p>
                </div>
            </div>
        </div>
        <br />
        <div id="MealPreparation" class="_hcbBookmark"></div>
        <div class="card">
            <div class="card-body">
                <div>
                    <h2><span class="fas fa-utensils"></span> Meal Preparation</h2>
                    <p class="card-text">Even daily tasks like meal preparation can be a handful for seniors. &nbsp;Our caregivers help here when needed:</p>
                    <ul class="card-text">
                        <li>Plan the menus.</li>
                        <li>Shop for the necessary groceries.</li>
                        <li>Prepare healthy hot meals to meet nutritional and dietary needs -- meals according to expectations.</li>
                    </ul>
                    <p class="card-text">Your loved one is more than welcome to participate the caregiver while preparing the meal. &nbsp;This presents another excellent opportunity for social interaction and conversation.</p>
                </div>
            </div>
        </div>
        <br />
        <div id="LightHouseKeeping" class="_hcbBookmark"></div>
        <div class="card">
            <div class="card-body">
                <div>
                    <h2 class="card-title"><span class="fas fa-broom"></span> Light House Keeping</h2>
                    <p class="card-text">A clean house boosts self-esteem.</p>
                    <p class="card-text">The common home making duties our caregivers assist their clients with, include:</p>
                    <ul class="card-text">
                        <li>Making beds.</li>
                        <li>Vacuuming.</li>
                        <li>Laundry.  Either at home or at a nearby laundromat. &nbsp;These services may include washing, drying, ironing, folding and putting laundry away</li>
                        <li>Sweeping</li>
                        <li>Dusting</li>
                        <li>Mopping</li>
                        <li>Cleaning bathrooms (sinks, tubs, showers, toilets).</li>
                        <li>Cleaning kitchens (sinks, appliances, counters, dishes, taking out the trash).</li>
                        <li>Making bedrooms neat.</li>
                        <li>General household organization (closets, drawers).</li>
                        <li>Cleaning reachable (without ladder) inside windows.</li>
                    </ul>
                    <p class="card-text">The elderly can sometimes struggle with just setting the thermostat. &nbsp;Let the caregiver step in and help also with the technical challenges including the TV and more.</p>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Related Home Care Services</h2>
                <p class="card-text">Having our in-home caregivers in your home is an excellent way to balance the wants and needs of aging seniors. &nbsp;Keep in mind, as pointed out earlier, that Home Care Bees also provide additional services related to home care. &nbsp;Please see the <a asp-page="AboutUs">About Us</a> page for more information in this regard.</p>
                <p class="card-text">For more information, please go to <a asp-page="ContactUs">contact Home Care Bees</a>.</p>
            </div>
        </div>
        <br />
        <br />
    </div>