@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Home Care Bees</h1>
    <br />
    <h2>Caregiving</h2>
    <p>It is quite a privilege to be able to take care of someone else, particularly another senior. &nbsp;As their primary caregiver, you are responsible for maintaining their quality of life and ensuring their golden years are the best they can be. &nbsp;It can be very fulfilling and rewarding. &nbsp;It is an opportunity to give back to someone that has, in turn, cared for others.</p>
    <h2>Services</h2>
    <h3>Background</h3>
    <p>Families used to be the first line of support to care for a loved one. &nbsp;But now with less children, the pool of caregivers is smaller, women often work full time and time to devote to caregiving is really tight. &nbsp;Plus, we all are very mobile today. &nbsp;We do not necessarily live close to each other. &nbsp;We could even be out of country. &nbsp;Most people cannot stop their lives to be there 24/7 with their relatives.</p>
    <p>Families turn to home care agencies such as Home Care bees to step in for them.</p>
    <h4>Overview</h4>
    <p>Home Care Bees mostly provider caregiver services for older adults, but we also provide caregiving to:</p>
    <ul>
        <li>Severely disabled persons.</li>
        <li>Persons that do not have the cognitive or mental capabilities to manage their own affairs anymore.</li>
        <li>Children incapable of functioning on their own.</li>
    </ul>
    <p>In other words, we provide caregiving services for persons in any age group. &nbsp;This can also be in-hospital care or care while recovering.</p>
    <p>In summary, Home Care Bees’ caregiver services include:</p>
    <table>
        <tr>
            <td class="fas fa-camera"><br />Companionship</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
