@page
@model Hcb.Insights.Pages.JourneyModel
@{
    ViewData["Title"] = "Home Care Bees - Managing the Aging Journey";
    ViewData["MetaDescription"] = "Home Care Bees providing advice regarding the challenges with caring for the elderly.";
}

<div class="text-left">
    <h1 class="display-4" style="text-align:center">Home Care Bees - Managing the Aging Journey</h1>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Introduction</h2>
            <p>This page covers practical information about a variety of issues caregivers need to address. &nbsp;There is a lot to cover. &nbsp;We tried to keep this short. &nbsp;This page gives the reader an understanding of some terms and an overview of the factors that you may need to attend to as caregivers under given circumstances.</p>
            <p>The topics addressed here, are:</p>
            <ul>
                <li>Tips to determine your loved one’s needs.</li>
                <li>What if your elderly relative refuses help?</li>
                <li>Living arrangement options.</li>
                <li>Insights into Medical and Financial legal matters.</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Connect with Your Loved One</h2>
            <p>There are several aging phases, if you will. &nbsp;Regardless what phase your loved one finds itself in, one always need to plan for the next phase. &nbsp;As you will also see in the section dealing with legal matters, if you do not deal with given matters early enough, you could face complications.</p>
            <p>Many of us are uncomfortable with the topic of aging, loss of abilities or end of life concerns. &nbsp;It is normal human behavior to put off difficult conversations thinking that there will be time later to work on such. &nbsp;But when we don't or won't talk about them, we end up being reactive instead of being proactive. &nbsp;We cannot be reactive because you will be reacting to quite an emotional situation. &nbsp;One needs to get passed the reluctance to discuss the aging related topics.</p>
            <p>It is often easiest to look for a natural time to talk about the what ifs. &nbsp;Particularly if the individual that is going to be cared for is generally reluctant to talk about personal things. &nbsp;Sometimes if someone suffered a fall or moved into an assisted living facility, it is a good time to ask, "Mom you are not able to live here any longer. &nbsp;What kind of place would you like to live in? &nbsp;Have you talked about this with dad? &nbsp;Have you thought about it even?”</p>
            <p>Another natural time to start the discussion about end of life planning, having a will, burial preferences, etc., is when someone you know, has a significant setback or passes away. &nbsp;Be that a friend of the family or one of your loved one’s friends. &nbsp;“I would not know what to do if something happens to you.”, could get the conversation started.</p>
            <p>On the other hand, the elderly person could start a conversation like, "When I die, …" &nbsp;That is the time you really need to be listening and listening attentively. &nbsp;Encourage them to say more. &nbsp;There often is a strong desire to shut off the communication. &nbsp;We will say stuff like, "You don't need to put one foot in the grave. &nbsp;You are still here. &nbsp;You will probably outlive all of us." &nbsp;Resist such a natural response and rather be open and grab every opportunity.</p>
            <p>Give everybody, the elder and other family members the opportunity to weigh in on the decisions on the front end which gives them less of an opportunity to complain and be critical afterwards. &nbsp;They were there. &nbsp;They had the chance.</p>
            <p>Be careful not to make assumptions. &nbsp;A Common mistake that is made by adult children, is over estimating the needs of the individual. &nbsp;You under estimate their ability to be independent.  Most people will resent forced dependency.</p>
            <p>In summry:</p>
            <ul>
                <li>We encourage you to have the difficult conversations.</li>
                <li>Get past the reluctance to discuss sensitive topics. &nbsp;There is not a better time to have the sensitive conversation than now.</li>
                <li>Hold a family meeting.</li>
                <li>Approach the elderly gently.</li>
                <li>Emphasize with their feelings.</li>
                <li>Sympathize with them with how difficult it would be.</li>
                <li>Give all a chance to talk. &nbsp;Give the elderly ample opportunity to talk.</li>
                <li>Act in their interest. &nbsp;You need to look at their wants and needs and not yours.</li>
                <li>Do not under estimate their ability to live independently. &nbsp;Look at their functional abilities.</li>
                <li>Most people prefer to stay in their own home.</li>
                <li>Are they safe and capable of living independently? &nbsp;Unless professional recommendations support your feeling, you will not get far with convincing your loved one that he/she is not able to live independently. &nbsp;It is hard for the elderly to process bad news they get from their children.</li>
                <li>When necessary, bring in the voice of professionals.</li>
                <li>What help do they have with where they are? &nbsp;Friends, professional services, emergency contacts, geriatric programs…</li>
                <li>Focus on the positives. &nbsp;Describe gains like being able to live independently.</li>
                <li>Put matters in a new light.</li>
                <li>Suggest trial periods for changes.</li>
                <li>Be subjective and descriptive. &nbsp;Always make accurate recommendations.</li>
                <li>Document the discussions and decision points and distribute them.</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Reject Help</h2>
            <p>What if the loved one is reluctant to accept help? &nbsp;That is when you need to take time to uncover and understand the reason behind it. &nbsp;Listen and take time to get around to what's important in this conversation:</p>
            <ul>
                <li>Are they concerned about cost? &nbsp;(If they have ample equity into their home, a reverse mortgage may get them out of that situation.) &nbsp;Use resources such as https://www.benefitscheckup.org to find out what benefits they are eligible for.</li>
                <li>Do they feel that they do not need help?</li>
                <li>Or do they view any kind of help as kind of welfare they do not want to participate in? &nbsp;If the funds come from government, explain to the elder that what they paid into their whole life, they are now entitled to.</li>
                <li>Often and rightfully so, people are fearful for strangers coming into their home. &nbsp;This is one example where you approach the situation as a trial.</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Living Arrangement Options</h2>
            <p>For living arrangements there are many options covered by many acronyms. &nbsp;It is hard to figure these options out let alone deciding on a living arrangement option.</p>
            <p>Basically, the loved one can:</p>
            <ul>
                <li>Continue to live in his/her own home. &nbsp;This is sometimes called Aging in Place.</li>
                <li>The elderly can live with relatives or others, even other older people. &nbsp;This is called Home Sharing.</li>
                <li>Then there is the option of moving into an elderly care type facility.</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h3>Aging in Place - There is no Place Like Home</h3>
            <p>Fortunately, when seniors start to find daily living more challenging, no longer must they leave their homes to find help. &nbsp;Today caregiver assistance can come to them in their own home. &nbsp;Also, home care generally is a more cost-effective alternative to hospital care or other institutional care. &nbsp;That is one of the reasons, increasingly, older people choose to live independent lives and take advantage of caregivers for home care services.</p>
            <p>Today most older adults prefer to stay in their own homes. &nbsp;Fortunately, there are several ways to accommodate that preference with perhaps a few home modifications to make the home safer for them. &nbsp;Universal design modifications can be relatively easy and low cost and those things can support that choice. &nbsp;You want to make the home safer. &nbsp;Examples of relatively simple modifications are:</p>
            <ul>
                <li>Adding grab bars next to toilet and bath tub.</li>
                <li>Pick up cords that are exposed in a walk way and so throw down rugs.</li>
                <li>Change the water heater setting down to maximum of say 120 degrees. &nbsp;That you do because older people lose their sensory nerves and don't realize when they burn.</li>
                <li>Non-skid mats in the bath tub.</li>
                <li>Lighting at the top and bottom of stairs, switches at both ends.</li>
                <li>Night lights.</li>
                <li>Smoke detectors, one on every floor (tested at a regular interval).</li>
                <li>And more.</li>
            </ul>
            <p>You may have to make wheel chair or walker accommodations. &nbsp;Sometimes it can be as simple as removing a bathroom door in one bathroom because it is hard to navigate a walker let alone a wheel chair if you need to be away from the door before you can close it. &nbsp;Then it will be easier to navigate in there and easier for someone to assist them. &nbsp;Things like that can go a long way.</p>
            <p>Home Care Bees understands that there is more to Aging in Place than just caregiving. &nbsp;The house also needs to be maintained. &nbsp;Please refer to the <a href="~/AboutUs#RelatedServices">About Us</a> page for more information about the additional services (on top of caregiving) Home Care Bees provides.</p>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h3>Home Sharing</h3>
            <p>With Home Sharing one needs to deal with common areas, pets and groceries to name a few. &nbsp;There needs to be a good understanding between the different parties in the same household.  </p>
            <p>Home Sharing includes also the loved one moving in with a child.  </p>
            <p>Consider the needs of everyone… &nbsp;Most adults do not want to live with their children especially if relationships had not been good in the past.</p>
            <p>The advantages are that they may be able to help with childcare. &nbsp;Another one is to be able to build stronger bonds between them and the grandchildren.</p>
            <p>But they may again not agree with how you raise your children. &nbsp;You may get treated as a child too or the other way around. &nbsp;Neither with good anticipated outcomes.</p>
            <p>Keep in mind too that with a spouse’s parent in the house, the other spouse will get less time and attention, the room that used to be available as the office or whatever, is now taken, there will be more expenses, the house may now be too cold or too hot, and so on.</p>
            <p>Once the parent moved in with the children, it is difficult to reverse the situation.  A trial period may be the answer.</p>
            <p>Don’t let guilt decide this option for you.</p>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h3>Care Facilities</h3>
            <p></p>
            <ul>
                <li>Retirement communities</li>
                <li>Senior apartments</li>
                <li>Adult day care centers</li>
                <li>Assisted living facilities</li>
                <li>Continuing care communities</li>
                <li>Nursing and rehab centers</li>
                <li>Hospice care</li>
            </ul>
            <p>Continuing-Care Retirement Communities (CCRC), also known as Life Care Communities, are residential campuses where a variety of aging care needs, from assisted living, independent living and nursing home care, may all be met at a single residence. Typically, elderly candidates move into a CCRC while still living independently, with few health concerns or healthcare needs. As patrons progress in age, and medical needs change, the level of nursing care and service increases proportionally in response. &nbsp;Therefore, the needs of patrons are consistently monitored and catered to, particularly as those needs become more intensive.</p>
            <p>Continuing Care Retirement Communities usually require an initial fee plus then a monthly fee. &nbsp;These are good for couples who are at different levels. &nbsp;The seniors would not have to look at another residence when matters worsen. &nbsp;They just sign up for the next needed care level. &nbsp;These are campus like environments.</p>
            <p>Then there are Nursing Facilities/Nursing Homes. &nbsp;Some are skilled nursing facilities and others offer intermediate care.</p>
            <p>Hospice Care have hospice teams on call 24 hours. &nbsp;These offer medical care (not cure), emotional support, bathing, etc. and towards the end make it as pain free as possible.</p>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Legal</h2>
            <p><span style="text-decoration:underline">Disclaimer</span>: Home Care Bees does not offer legal advice. &nbsp;What follows here, are just a few topics listed to get you started with the legal proceedings related to aging and caring of seniors.</p>
            <p>Legal matters should be taken care of in a timely fashion too. &nbsp;Someone can sign a power of attorney (or any legal document, for that matter) only while they are legally competent to do so. &nbsp;Once the senior is not competent anymore to execute legal documents, the only recourse is then a conservatorship or guardianship proceeding through the court, which is a very costly and time-consuming process.</p>
            <h3>Medical</h3>
            <p>For the most part, what we are talking about here, is sometimes grouped under the term, Advanced Directives. &nbsp;An Advance Directive is a legal or a set of legal documents. &nbsp;It tells your doctor and family what kind of medical care you want to have if you can’t tell them yourself anymore.</p>
            <p>Creating an advance directive is a good idea. &nbsp;It makes your preferences about medical care known before you’re faced with a serious injury or illness. &nbsp;This will spare your loved ones the stress of making decisions about your care while you are sick. &nbsp;Any person 18 years of age or older can prepare an advance directive.</p>
            <p>The following could all be rolled into an Advance Directive:</p>
            <ul>
                <li>Living Will. &nbsp;A living will is a written, legal document. &nbsp;It describes the treatments you would want if you were terminally ill or permanently unconscious. &nbsp;These could be medical treatments or treatments that will help you live longer. &nbsp;A living will doesn’t let you select someone to make decisions for you.</li>
                <li>Medical Power of Attorney/Durable Power of Attorney for Health Care. &nbsp;This legal document grants authority to an agent to take specific control over the healthcare decisions of the principal should they become incapacitated or unable to do so. &nbsp;This usually takes effect upon the consent of the presiding physician and it allows the agent to authorize all medical decisions related to the principal. &nbsp;This document is generally more useful than a living will but may not be a good choice if you don’t have another person you trust to make these decisions for you.</li>
                <li>Physician Orders for Life-Sustaining Treatment (POLST). &nbsp;This is for people who have been diagnosed with a serious illness. &nbsp;It is filled out by your doctor. &nbsp;It doesn’t replace your other advance directives. &nbsp;Instead it stays with you to ensure you get the medical treatment you want.</li>
                <li>Do not Resuscitate Order (DNR). &nbsp;Hospital staff try to help any patient whose heart has stopped or who has stopped breathing. &nbsp;A DNR is a request not to have CPR if your heart stops or if you stop breathing.</li>
            </ul>
            <p>Good resources for Advanced Directives are:</p>
            <ul>
                <li><a href="https://medlineplus.gov/advancedirectives.html">U.S. National Library of Medicine, Advance Directives</a></li>
                <li><a href="https://www.nia.nih.gov/health/advance-care-planning-healthcare-directives">National Institute on Aging, Advance Care Planning: Healthcare Directives</a></li>
            </ul>
            <h3>Financial</h3>
            <p>At the financial end you also need to make sure you take care of matters beforehand. &nbsp;Many caregivers of parents or older loved ones with Alzheimer’s disease do not understand the importance of living wills and powers of attorney until it’s too late. &nbsp;Neither an attorney nor a notary can ethically prepare or notarize a living will or health care power of attorney for an individual that does not understand the nature of the documents at issue.</p>
            <p>Without the proper documentation the court will make decisions on your behalf. &nbsp;This will take time and in the meantime safety deposit boxes will be kept locked, properties cannot be transacted and so on.</p>
            <p>Documents that should receive attention, are:</p>
            <ul>
                <li>Wills</li>
                <li>Trusts</li>
                <li>Durable Power of Attorney. &nbsp;This is much more encompassing than a non-durable power of attorney and it can be used to allow an agent to manage all the affairs of the principal should the principle become unable to do so. &nbsp;It does not have a set time period and it becomes effective immediately upon the incapacitation of the principal. &nbsp;Please take note that it expires upon the principal’s death.</li>
                <li>Probate Conservatorship. &nbsp;A probate conservatorship is a court proceeding where a judge appoints a responsible person (called a conservator) to care for another adult who cannot care for him/herself or his/her finances (called a conservatee). &nbsp;Without the proper power of attorney documentation and once the senior is incompetent to execute legal documents, the only recourse is a conservatorship or guardianship proceeding through the court, which is a very costly and a time-consuming process.</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h2>Support</h2>
            <p>Clearly there is a lot involved in taking care of another person. &nbsp;Please look at the <a asp-page="AboutUs">About Us</a> page to see what other services Home Care Bees provides to help you during this aging journey.</p>
        </div>
    </div>
</div>