@page
@model Insights.Pages.ContactUsModel
@{
    ViewData["Title"] = "Home Care Bees - Managing the Aging Journey";
    ViewData["HomeMetaData"] = "Home Care Bees' input regarding the challenges with caring for the elderly.";
}

<div class="text-left">
    <h1 class="display-4" style="text-align:center">Home Care Bees - Managing the Aging Journey</h1>
    <br />
</div>