@page
@model Hcb.Insights.Pages.PnPModel
@{
    ViewData["Title"] = "Home Care Bees - Policies and Procedures";
    ViewData["MetaDescription"] = "Policies and procedures";
}
<div class="container-fluid" style="position:relative;">
    <img id="pnpPage" src="/PnP?handler=Page&pageNumber=1" style="width:100%;padding:1px;border:1px solid DeepSkyBlue;" />
    <img src="/images/PnP/donotcopy.png" style="width:100%;position:absolute;left:0;top:0;" />
    <br />
    <br />
    <button type="button" class="btn btn-primary mybtn" onclick="_hcb.pnp.previous()" id="Previous" href="#" title="Previous" disabled>Previous Page</button>
    <button type="button" class="btn btn-primary mybtn" onclick="_hcb.pnp.next()" id="Next" href="#" title="Next">Next Page</button>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jump to Section
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#" onclick="_hcb.pnp.section(0);">Table of Contents</a>
            <a class="dropdown-item" href="#" onclick="_hcb.pnp.section(1);">1: Introduction</a>
            <a class="dropdown-item" href="#" onclick="_hcb.pnp.section(2);">2: Organization and Administration</a>
            <a class="dropdown-item" href="#" onclick="_hcb.pnp.section(3);">3: Scope of Services</a>
            <a class="dropdown-item" href="#" onclick="_hcb.pnp.section(4);">4: Service Delivery and Client Care</a>
            <a class="dropdown-item" href="#" onclick="_hcb.pnp.section(5);">5: Human Resources</a>
            <a class="dropdown-item" href="#" onclick="_hcb.pnp.section(6);">6: Health and Safety</a>
            <a class="dropdown-item" href="#" onclick="_hcb.pnp.section(7);">7: Financial Management</a>
            <a class="dropdown-item" href="#" onclick="_hcb.pnp.section(8);">8: Quality and Risk Management</a>
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="_hcb.pnp.toggleHeaderFooter()" id="Toggle" href="#" title="Toggle">Hide Header and Footer</button>
    @section Scripts {
        <script src="~/js/pnp.js" asp-append-version="true"></script>
    }
    @section Styles {
        <style>
            /*The below all to get the buttons to be clickable anywhere on its surface*/
            html {
                box-sizing: border-box;
            }
            *, *:before, *:after {
                box-sizing: content-box;
            }
            .mybtn, .mybtn * {
                box-sizing: content-box;
            }
            .mybtn::before, .mybtn::after {
                box-sizing: content-box;
            }
            .mybtn *::before, .mybtn *::after {
                box-sizing: content-box;
            }
        </style>
    }
</div>