@* // Ignore Spelling: toc *@
@page
@{
    ViewData["Title"] = "toc";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["historyActive"] = "active";
}

<h1 style="text-align:center">Family History</h1>
<p></p>
<p>Coming soon.  Stay tuned.</p>

