@* // Ignore Spelling: Captcha, Minnaar's *@
@page
@{
    ViewData["Title"] = "ProfileHome";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["profileActive"] = "active";
}

<h1>Profile</h1>
<div class="card" style="padding:10px">
    <div><a href="~/Profile/Resume" title="View Jean Minnaar's resume">Jean Minnaar's Resume</a></div><br />
    <div><a href="~/Profile/Pattern" title="View article regarding pattern-oriented development">Pattern-oriented Development article</a></div><br />
    <div><a href="~/Profile/Captcha" title="View Captcha Alternative video">Captcha Alternative video</a></div>
</div>
