@page
@{
    ViewData["Title"] = "Pattern";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["profileActive"] = "active";
}
<h1 style="text-align:center">Pattern-oriented Development</h1><br />
<iframe src="~/PatternOrientedDevelopment3.pdf" style="width:100%;height:500px"></iframe>

