@* // Ignore Spelling: iframe *@
@page
@{
    ViewData["Title"] = "Profile - Resume";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["profileActive"] = "active";
}
<h1 style="text-align:center">Resume</h1><br />
@*<iframe src="https://onedrive.live.com/embed?cid=ACD532CF5003ADA8&resid=ACD532CF5003ADA8%21112957&authkey=AApg2zJuWh4FHoQ&em=2" style="width:100%;height:500px" frameborder="1" scrolling="yes"></iframe>*@
<iframe src="~/jeanMinnaar.pdf" style="width:100%;height:500px" frameborder="1" scrolling="yes"></iframe>