@page
@{
    ViewData["Title"] = "Profile - Resume";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["profileActive"] = "active";
}
<h1 style="text-align:center">Resume</h1><br />
<iframe src="~/JeanMinnaar_2019.pdf" style="width:100%;height:500px"></iframe>

